{% extends "base.html" %}
{% load static %}

{% block content %}
  <header class="mt-0">
    <!-- Carousel -->
    <div id="carouselExampleAutoplaying" class="carousel slide g-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static "header1.jpg" %}" class="d-block w-100" alt="...">
          <span class="carousel-caption m-0 d-none d-md-block p-1" style="bottom: 8%;">
            <h1 id="ffff" style="text-align: start;">Star Wars</h1>
            <p id="fffff" class="mb-0" style="text-align: start;">오래 전 멀고 먼 은하계에....<br>A long time ago in a galaxy far, far away....</p>
          </span>
        </div>
        <div class="carousel-item">
          <img src="{% static "header2.jpg" %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block p-1" style="bottom: 80%;">
            <p id="fffff" class="mb-0" style="text-align: end;">큰 힘에는 큰 책임이 따른다.</p>
            <h1 id="ffff" style="text-align: end;">Spider Man</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static "header3.jpg" %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block p-1" style="bottom: 42%;">
            <h1 id="ffff">Joker</h1>
            <p id="fffff" class="mb-0">Put on a happy face<br>행복한 표정을 지으렴.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 m-auto">
    {% if movies %}
      {% for movie in movies %}
        <div class="col">
          <div class="card h-100">
            {% if movie.image %}
              <img src="{{ movie.image.url }}" class="card-img-top h-75" alt="poster">
            {% else %}
              <img src="{% static "no_image.jpg" %}" class="card-img-top h-75" alt="poster">
            {% endif %}
            <div class="card-body d-flex justify-content-between">
              <div>
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.description }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ movie.created_at }}</small></p>
              </div>
              <div>
                <div class="mb-2 ms-2">
                  <a href="{% url "movies:detail" movie.pk %}" class="btn btn-secondary">DETAIL</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <li>등록된 영화가 없습니다.</li>
    {% endif %}
  </div>
{% endblock content %}